.signup-container{
    margin-top: 10%;
    margin-bottom: 5%;
}

.signup-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.signup-form-1 h3{
    text-align: center;
    color: #333;
}

.signup-container form{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.signup-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.signup-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.card-center {
    text-align: center;
    justify-content: center;
}

.text-red {
    color: #dc3545;
}

.text-green {
    color: #28a745;
}

label {
    float: left;
}

.m-t-10 {
    margin-top: -10px;
}

.m-b10 {
    margin-bottom: 10px;
}

.m-t20{
    margin-top: 20px !important;
}

.text-left {
    text-align: left;
}
